/* Style for each course in the list */
.course, .prereq {
    position: relative;
    padding: 5px;
    cursor: pointer; /* Makes the course clickable */
    background-color: #f0f0f0; /* Light background for each course */
    margin: 5px 0; /* Space between courses */
}

/* Style for showing prerequisites when the course is hovered over */
.course::after {
    content: attr(data-prerequisites); /* This will show the prerequisites text */
    position: absolute;
    top: -25px; /* Moves the prerequisites text above the course */
    left: 0;
    background-color: #ff933b; /* Orange background for the prerequisites */
    padding: 5px;
    font-size: 0.9em; /* Smaller text for the prerequisites */
    color: #333; /* Dark text color for readability */
    opacity: 0; /* Initially hide the prerequisites text */
    visibility: hidden; /* Keeps the prerequisites hidden */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition to show the text */
    z-index: 10; /* Make sure the text displayed above other text */
}

/* This will make the prerequisites text visible when the course is hovered over */
.course:hover::after {
    opacity: 1; /* Make the prerequisites visible */
    visibility: visible; /* Show the prerequisites */
}

p {
    font-size: 18px; 
}

/* Status colors */
.status-not-eligible {
    background-color: #f0f0f0; /* Matches the default grey */
}

.status-taken {
    background-color: #4caf50; /* Green */
}

.status-in-progress {
    background-color: #2196f3; /* Blue */
}

.status-eligible {
    background-color: #ffeb3b; /* Yellow */
}


.status-dropdown {
    position: absolute; /* This places the dropdown relative to the closest containing element */
    background-color: #fff; /* The background color of the dropdown is white */
    border: 1px solid #ccc; /* It gives the dropdown a light gray border */
    border-radius: 5px;
    padding: 10px; /* Adds padding inside the dropdown */
    z-index: 100; /* Ensures that the dropdown appears above other elements on the page */
    /* margin-top: 5px; Adds space between the dropdown and the course */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a shadow to make the dropdown appear floating */
}


.status-dropdown button {
    display: block; /* Makes the buttons take up the full available width */
    width: 100%;
    margin: 5px 0; /* Adds vertical space between the buttons */
    padding: 5px 10px; /* Adds padding inside the button */
    background-color: #f0f0f0; /* Light gray background for the buttons */
    border: none; /* Removes the border from the button */
    cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
}


.status-dropdown button:hover {
    background-color: #ddd; /* Changes the background of the button to a darker gray when the mouse hovers over it */
}
